<div id="main-section">
    <h1 class="title">Software Developer</h1>
    <h2 class="title-name">Francisco Garao</h2>
    <p class="fullstack">Fullstack Angular & .NET/NodeJs</p>
    <div>
        <button class="main-btn">Linkedin <i class="fa-solid fa-arrow-right-to-bracket"></i></button><button
            class="main-btn">Descargar CV <i class="fa-solid fa-arrow-right-to-bracket "></i></button><button
            class="main-btn">Github <i class="fa-solid fa-arrow-right-to-bracket "></i></button>
    </div>
    <div id="main-icons">
        <i class="fa-brands fa-angular fa-2xl icon-angular"></i>
        <img class="typescript-icon icon" src="../../../assets/Typescript_logo_2020.svg" alt="">
        <i class="fa-brands fa-node-js fa-2xl icon-node"></i>
        <p class="icon-ce">C#</p>

    </div>
</div>